<div class="branch_feed element_frame" rel="feed"> 
	<div class="element_header feed_header" style="display:none">Feed</div>
  <p>
    <span><%= image_tag('/images/icons/add_images.png') %><%= link_to "Brandon Dek", "#", :style => "color:#555" %> <b style="color:#6DBE2A">added</b> the file <%= link_to "JP3435ds34.jpg", "#" %></span>
    <small>2 hours ago</small>
  </p>
  <p>
    <span><%= image_tag('/images/icons/add_comments.png') %><%= link_to "Scott Raio", "#", :style => "color:#555" %> <b style="color:#549988">posted</b> a comment</span>
    <small>Feb 2, 5:45pm</small>
  </p>
  <p>
    <span><%= image_tag('/images/icons/add_element.png') %><%= link_to "Michael Shader", "#", :style => "color:#555" %> <b style="color:#994040">changed</b> the branch details</span>
    <small>Feb 1, 6:45pm</small>
  </p>
  <p>
    <span><%= image_tag('/images/icons/add_images.png') %><%= link_to "Brandon Dek", "#", :style => "color:#555" %> <b style="color:#6DBE2A">added</b> the file <%= link_to "JP3435ds34.jpg", "#" %></span>
    <small>2 hours ago</small>
  </p>
  <p>
    <span><%= image_tag('/images/icons/add_comments.png') %><%= link_to "Scott Raio", "#", :style => "color:#555" %> <b style="color:#549988">posted</b> a comment</span>
    <small>Feb 2, 5:45pm</small>
  </p>

	<p style="border-bottom:0">
		<span><%= image_tag('/images/icons/add_element.png') %><%= link_to "Michael Shader", "#", :style => "color:#555" %> <b style="color:#994040">changed</b> the branch details</span>
		<small>Feb 1, 6:45pm</small>
	</p>



</div>