<% form_for @branch do |f| %>
<div id="title">
	<span>
		<p class="field left"><%= f.text_field :name, :class => "branch_name_field" %></p>
		<%= link_to "Finished", branch_path(@branch), :class => "right metal in_title" %>
	</span>
</div>

<div id="main">
	<div id="full_pane">
		
		<ul class="element_types">
			<% for element_type in @element_types %><li><%= image_tag("/images/icons/add_#{element_type.name.downcase}.png") %> <%= element_type.name %></li><% end %>	
		</ul>
			
		<div class="right_pane">
			<div class="description">
					<p class="field">
						<label>Description</label><%= f.text_area :description %>
					</p>
			</div>
		</div>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p class="full center left clear"><%= f.submit "Update Branch", :class => "metal" %></p>
	</div>
</div>
<% end %>
