<div id="title">
	<span>
		<h1>Topics</h1>
		<p class="button right"><%= link_to "Create a Topic", new_branch_path, :class => "icon branch" %></p>
	</span>
</div>

<div id="main">
		
		<div class="list">
			<div class="pane_left pane_small" style="width:288px">
				<%= text_field :branches, :keyword, :class => "find", :value => "Search for a branch" %>
				<div class="sort_results">
					<%= link_to "Latest", "#", :class => "selected" %>
					<% for tag in @tags %>
						<%= link_to tag.name, { :action => :tag, :id => tag.name } %>
					<% end %>
				</div>
			</div>
			<div class="pane_right pane_large" style="width:600px">
				<% for branch in @branches %>
				<div class="item">
				
					<div class="details">
						<h2>
							
								<%= link_to branch.name, branch_path(branch) %>
								<small>added 14 days ago by <%= link_to branch.creator.name, user_path(branch.creator), :class => "created_by", :style => "background:url(#{avatar_url(branch.creator, :tiny)}) no-repeat;" %></small>
						
						</h2>
						<%= branch.description %>
					</div>
				
					<div class="follow">
						<% if @user.following? branch %>
							<%= link_to "Stop Following", stop_following_branch_path(branch), :class =>  "metal" %>
						<% else %>
							<%= link_to "Follow", follow_branch_path(branch), :class =>  "metal" %>
						<% end %>
					</div>
				
				</div>
				<% end %>
			</div>
			
		</div>

		
</div>

<script>
	$("document").ready(function(){
		
		var focusable = $("input#branches_keyword");
		var default_value = focusable.val();
		
		focusable.focus(function(){
			if($(this).val() == default_value) $(this).val("");
			$("input#submit_status").css('display', '');
		})
		
		focusable.blur(function(){
			if($(this).val() == "") {
				$(this).val(default_value); $("input#submit_status").css('display', 'none');	
			}
		})
		
		
		
	})
</script>

