<div id="title">
	<span>
		<h1>Branches</h1>
		<p class="button right"><%= link_to "Create a Branch", new_branch_path, :class => "icon branch" %></p>
	</span>
</div>

<div id="main">
		
		<div class="list full_pane">
			<input class="find" value="Search for a branch" />
			
			<% for branch in @branches %>
			<div class="item" style="background:url('/images/icons/branches32x32.png') no-repeat;">
				
				<div class="details">
					<h2>
						<%= link_to branch.name, branch_path(branch) %>
						<small><b>by <%= link_to branch.creator.name, user_path(branch.creator), :class => "created_by", :style => "background:url(#{avatar_url(branch.creator, :tiny)}) no-repeat;" %></b></small>
					</h2>
					<%= branch.description %>
				</div>
				
				<div class="follow">
					<%= link_to "Follow", "#", :class => "metal" %>
				</div>
				
			</div>
			<% end %>
		</div>

		
</div>


