<div id="title">
	<span>
		<h1><%= @branch.name %></h1>
		<% if @branch.created_by == @user.id %>
			<%= link_to "Add Element", branch_elements_path(@branch), :rel => "facebox", :class => "right metal in_title" %>
		<% else %>
			<% if @user.following? @branch %>
				<%= link_to "Stop Following", stop_following_branch_path(@branch), :class =>  "right metal in_title" %>
			<% else %>
				<%= link_to "Follow", follow_branch_path(@branch), :class =>  "right metal in_title" %>
			<% end %>
		<% end %>
	</span>
</div>

<div id="main">
	<div id="show_branch">
		<div class="right_pane">
			
			<div class="branch_followers branch_frame">
				<h1>Followers</h1>
				
			</div>
			
			<%= render :partial => "/links/index" %>
			<%= render :partial => "/attachments/index"%>
			<%= render :partial => "/images/index"%>
			<%= render :partial => "/feed/index"%>
			
		</div>
		
		<div class="left_pane">
			
			<div class="description element_frame"> 
				<%= @branch.description %>
			</div>
			<div id="comments" class="comments round">
				
				<p class="add_comment"><%= image_tag(avatar_url(@user, :small)) %><input value="Write a comment" class="add_comment"/></p>
				<% form_for :comment, :url => branch_comments_path(@branch), :html => { :class => "comments_form", :rel => "#comment_lander" } do |f| %>
				<p class="new_comment" style="display:none">
					<%= f.text_area :message, :class => "new_comment round" %>
					<%= f.submit "post comment", :class => "metal new_comment" %>
				</p>
				<% end %>
				
				<div id="comment_lander"></div>
				
				<% for comment in @branch.comments %>
					<%= render :partial => "comments/ui/post", :locals => { :comment => comment } %>
				<% end %>
				
			</div>
			
			<%# render :partial => "/maps/index"%>
			
		</div>
		
	</div>
</div>

<script>
	$(document).ready(function(){
		// Comment links 
		$(".comment_link").click(function() {
			$("div#"+$(this).attr("id")).css("display", "");
		});

		$("p.add_comment").click(function() {
			$(this).css("display","none");
			$("p.new_comment").css("display", "");
			$("textarea.new_comment").focus();
		});
		
		$("textarea.new_comment").blur(function(){
			if($(this).val() == "") {
				$("p.new_comment").css("display", "none");
				$("p.add_comment").css("display", "");
			}
		});

		// Ajax Comment form
		$("form.comments_form").submit(function(){
			var append_to = $(this).attr("rel");
			$(this).ajaxSubmit({
				success: function(data) {
					$(append_to).append(data);
					$("textarea.new_comment").attr("value", "");
					$("p.new_comment").css("display", "none");
					$("p.add_comment").css("display", "");
				}
			})
			return false;
		});
	});
</script>