<div id="title">
	<span>
		<h1><%= @branch.name %> <small><%= link_to "(design)", edit_branch_path(@branch) %></small></h1>
		<% if @branch.created_by == @user.id %>
			<%= link_to "design", edit_branch_path(@branch), :class => "right metal in_title" %>
		<% else %>
			<% if @user.following? @branch %>
				<%= link_to "Stop Following", stop_following_branch_path(@branch), :class =>  "right metal in_title" %>
			<% else %>
				<%= link_to "Follow", follow_branch_path(@branch), :class =>  "right metal in_title" %>
			<% end %>
		<% end %>
		
	</span>
</div>

<div id="main">
	<div id="show_branch">
		<div class="right_pane">
			
			<div class="description branch_panel"> 
				<h1 class="header">Description</h1>
				<h4><i>Author:</i> <b><%= link_to @branch.creator.name, user_path(@branch.creator), :class => "created_by", :style => "background:url(#{avatar_url(@branch.creator, :tiny)}) no-repeat;" %></b> <%= @branch.creator.position %></h4>
				<h4><i>Title:</i> <b>Flurish Website</b></h4>
				<%= @branch.description %>
			</div>
			
			
		</div>
		
		<div class="left_pane">
			
			<div class="branch_attachments branch_panel">
				<%= link_to "upload", "#", :class => "metal right" %>
				<h1 class="header">Attachments</h1>
				<label>
					<%= image_tag('/images/icons/document_128x128.png') %>
					Website_Layout_Feb022010.PDF
				</label>
				<label>
					<%= image_tag('/images/icons/photo_128x128.png') %>
					Website_template204.PNG
				</label>
			</div>
			
			<div id="branch_feed" class="branch_panel"> 
				<h1 class="header">Feed</h1>
						<p>
							<%= image_tag('/images/icons/add_images.png') %><%= link_to "Brandon Dek", "#", :style => "color:#555" %> <b style="color:#6DBE2A">added</b> the file <%= link_to "JP3435ds34.jpg", "#" %>
							<small>2 hours ago</small>
						</p>
						<p>
							<%= image_tag('/images/icons/add_comments.png') %><%= link_to "Scott Raio", "#", :style => "color:#555" %> <b style="color:#549988">posted</b> a comment
							<small>Feb 2, 5:45pm</small>
						</p>
						<p>
							<%= image_tag('/images/icons/add_element.png') %><%= link_to "Michael Shader", "#", :style => "color:#555" %> <b style="color:#994040">changed</b> the branch details
							<small>Feb 1, 6:45pm</small>
						</p>
						<p>
							<%= image_tag('/images/icons/add_images.png') %><%= link_to "Brandon Dek", "#", :style => "color:#555" %> <b style="color:#6DBE2A">added</b> the file <%= link_to "JP3435ds34.jpg", "#" %>
							<small>2 hours ago</small>
						</p>
						<p>
							<%= image_tag('/images/icons/add_comments.png') %><%= link_to "Scott Raio", "#", :style => "color:#555" %> <b style="color:#549988">posted</b> a comment
							<small>Feb 2, 5:45pm</small>
						</p>
						<p style="border-bottom:0">
							<%= image_tag('/images/icons/add_element.png') %><%= link_to "Michael Shader", "#", :style => "color:#555" %> <b style="color:#994040">changed</b> the branch details
							<small>Feb 1, 6:45pm</small>
						</p>

			</div>
		</div>
		
	</div>
</div>