<div id="title">
	<span>
		<h1><%= @branch.name %></h1>
		<% if @branch.created_by == @user.id %>
			<%= link_to "Add Element", branch_elements_path(@branch), :rel => "facebox", :class => "right metal in_title" %>
		<% else %>
			<% if @user.following? @branch %>
				<%= link_to "Stop Following", stop_following_branch_path(@branch), :class =>  "right metal in_title" %>
			<% else %>
				<%= link_to "Follow", follow_branch_path(@branch), :class =>  "right metal in_title" %>
			<% end %>
		<% end %>
		
	</span>
</div>

<div id="main">
	<div id="show_branch">
		<div class="right_pane">
			
			<div class="description"> 
				<div class="element_header">
					<h1 style="font-size:1.4em">Description</h1>
				</div>
				<h4><i>Author:</i> <b><%= link_to @branch.creator.name, user_path(@branch.creator), :class => "created_by", :style => "background:url(#{avatar_url(@branch.creator, :tiny)}) no-repeat;" %></b> <%= @branch.creator.position %></h4>
				<h4><i>Title:</i> <b>Flurish Website</b></h4>
				<%= @branch.description %>
			</div>
			
		</div>
		
		<div class="left_pane">
			
			<div id="staging"></div>
			<% for element in @branch.elements %>
				<div class="round element_frame element<%= element.id %>">
					<div class="element_header" rel="element<%= element.id %>">
						<h1><%= element.element_type.name %></h1>
						<%= link_to_function( "x",
															:class => "exit_element#{element.id} element_exit",
															:style => "display:none",
					 										:onclick => "$('.element#{element.id}').css('display','none')",
															:onsuccess => "" ) %>
					</div>
					<%= render :partial => "/#{element.element_type.name.downcase}/index", :locals => {:element => element} %>
				</div>
			<% end %>
			
		</div>
		
	</div>
</div>

<script>
	$("document").ready(function(){
		$('div.element_header').hover(function(){
			element = $(this).attr('rel');
			$('.exit_' + element).css('display','');
		},
			function() {
				$('.element_exit').css('display','none');
			}
		);
	})
</script>
