<div id="title">
	<span>
		<h1><%= @branch.name %></h1>
		<% if @branch.created_by == @user.id %>
			<%= link_to "Add Element", branch_elements_path(@branch), :rel => "facebox", :class => "right metal in_title" %>
		<% else %>
			<% if @user.following? @branch %>
				<%= link_to "Stop Following", stop_following_branch_path(@branch), :class =>  "right metal in_title" %>
			<% else %>
				<%= link_to "Follow", follow_branch_path(@branch), :class =>  "right metal in_title" %>
			<% end %>
		<% end %>
		
	</span>
</div>

<div id="main">
	<div id="show_branch">
		<div class="right_pane">
			
			<%= render :partial => "/links/index"%>
			<%= render :partial => "/attachments/index"%>
			<%= render :partial => "/images/index"%>
			<%= render :partial => "/feed/index"%>
			
		</div>
		
		<div class="left_pane">
			
			<div class="description element_frame"> 
				<%= @branch.description %>
			</div>
			<%= render :partial => "/maps/index"%>
			
		</div>
		
	</div>
</div>

