<div id="title">
	<span>
		<h1><%= @branch.name %></h1>
		<% if @branch.created_by == @user.id %>
			<%= link_to "Add Element", branch_elements_path(@branch), :rel => "facebox", :class => "right metal in_title" %>
		<% else %>
			<% if @user.following? @branch %>
				<%= link_to "Stop Following", stop_following_branch_path(@branch), :class =>  "right metal in_title" %>
			<% else %>
				<%= link_to "Follow", follow_branch_path(@branch), :class =>  "right metal in_title" %>
			<% end %>
		<% end %>
		
	</span>
</div>

<div id="main">
	<div id="show_branch">
		<div class="right_pane">
			
			<div class="description branch_panel"> 
				<h1 class="header">Description</h1>
				<h4><i>Author:</i> <b><%= link_to @branch.creator.name, user_path(@branch.creator), :class => "created_by", :style => "background:url(#{avatar_url(@branch.creator, :tiny)}) no-repeat;" %></b> <%= @branch.creator.position %></h4>
				<h4><i>Title:</i> <b>Flurish Website</b></h4>
				<%= @branch.description %>
			</div>
			
			
		</div>
		
		<div class="left_pane">
			<div id="staging"></div>
			<% for element in @branch.elements %>
				<%= render :partial => "/#{element.element_type.name.downcase}/index", :locals => {:element => element} %>
			<% end %>
		</div>
		
	</div>
</div>