<div id="title">
	<span>
		<h1><%= @branch.name %> <small><%= link_to "(design)", edit_branch_path(@branch) %></small></h1>
		<% if @user.following? @branch %>
			<%= link_to "Stop Following", stop_following_branch_path(@branch), :class =>  "right metal in_title" %>
		<% else %>
			<%= link_to "Follow", follow_branch_path(@branch), :class =>  "right metal in_title" %>
		<% end %>
		
	</span>
</div>

<div id="main">
	<div id="show_branch">
		<div class="right_pane">
			<div class="description"> 
				<h4><i>Author:</i> <b><%= link_to @branch.creator.name, user_path(@branch.creator), :class => "created_by", :style => "background:url(#{avatar_url(@branch.creator, :tiny)}) no-repeat;" %></b> <%= @branch.creator.position %></h4>
				<h4><i>Title:</i> <b>Flurish Website</b></h4>
				<%= @branch.description %>
			</div>
		</div>
		
		<div class="left_pane">
			<div id="branches_feed" class="padded"> 

						<div class="activity"><div class="activible"><img align="top" alt="Thumb_4-up_on_2009-12-11_at_00" class="avatar_small" src="/users/avatars/3/small_Photo_on_2009-10-22_at_20.49.jpg" /><div class="stamp"><b><a href="/users/1">Brandon Dek</a></b> posted a comment <div class="metadata">7 days ago <a href="#" class="comment_link" id="comments_42">Comment</a></div></div></div></div> 
						<div class="activity"><div class="activible"><img align="top" alt="Thumb_4-up_on_2009-12-11_at_00" class="avatar_small" src="/users/avatars/3/small_Photo_on_2009-10-22_at_20.49.jpg" /><div class="stamp"><b><a href="/users/1">Brandon Dek</a></b> uploaded an attachment: <a>700045J8.jpg</a> <div class="metadata">7 days ago <a href="#" class="comment_link" id="comments_42">Comment</a></div></div></div></div> 
						<div class="activity"><div class="activible"><img align="top" alt="Thumb_4-up_on_2009-12-11_at_00" class="avatar_small" src="/users/avatars/3/small_Photo_on_2009-10-22_at_20.49.jpg" /><div class="stamp"><b><a href="/users/1">Brandon Dek</a></b> is working on the comments section of the flurish website <div class="metadata">7 days ago <a href="#" class="comment_link" id="comments_42">Comment</a></div></div></div></div> 
						<div class="activity"><div class="activible"><img align="top" alt="Thumb_4-up_on_2009-12-11_at_00" class="avatar_small" src="/users/avatars/3/small_Photo_on_2009-10-22_at_20.49.jpg" /><div class="stamp"><b><a href="/users/1">Brandon Dek</a></b> posted a comment <div class="metadata">7 days ago <a href="#" class="comment_link" id="comments_42">Comment</a></div></div></div></div> 
						<div class="activity"><div class="activible"><img align="top" alt="Thumb_4-up_on_2009-12-11_at_00" class="avatar_small" src="/users/avatars/3/small_Photo_on_2009-10-22_at_20.49.jpg" /><div class="stamp"><b><a href="/users/1">Brandon Dek</a></b> is working on getting the attachments widget for the flurish website <div class="metadata">7 days ago <a href="#" class="comment_link" id="comments_42">Comment</a></div></div></div></div> 


		</div>
		
	</div>
</div>
