<% form_for @topic do |f| %>
<div id="title">
	<span>
		<p class="field left"><%= f.text_field :name, :class => "topic_name_field" %></p>
		<%= f.submit "Finished", :class => "right metal in_title", :style => "font-size:1.0em" %>
	</span>
</div>

<div id="main">
	<div class="pane_left pane_large">
	  
		<p class="field">
			<label>Tags</label><%= f.text_field :tag_list, :style => "width:98%" %>
		</p>
	
		<p class="field">
			<label>Description</label><%= f.text_area :description %>
		</p>

		<%# These options appear when relative element is enabled %>
		
		<p class="field">
			<label>Privacy</label>
			<input type="radio" /> Public
			<input type="radio" /> Private
		</p>
	</div>
	
	<div class="pane_right pane_small">
		<p class="field">
			<label>Elements</label>
			<h4>You will NOT lose any data by removing an element. Re-add an element in the future and continue where you left off. It's not witchcraft we promise.</h4>
			<div class="edit_elements">
				
				<% for element_type in @element_types %>
				<p>
					<%= check_box_tag("topic[element_type_ids][]",element_type.id, @topic.element_types.include?(element_type), :id => element_type.id) %>
					<%= link_to element_type.name, "#", :rel => "##{element_type.id}" %>
					<span>
						<%= element_type.description %>
					</span>
				</p>
				<% end %>
			</div>
		</p>
		
	</div>
</div>
<% end %>

<script>
	$(document).ready(function(){
		$(".edit_elements a").click(function (){
			element = $($(this).attr("rel"));
			//options	= $($(this).attr("rel") + "_options");
			if (element.is(":checked")) {
				element.attr("checked", false);
				//options.hide();
			} else {
				element.attr("checked", true);
				//options.show();
			}
			return false;
		})		
	})
</script>
