<div id="title">
	<span>
		<h1>Topics</h1>
		<p class="button right"><%= link_to "Create a Topic", new_topic_path, :class => "icon topic" %></p>
	</span>
</div>

<div id="main">
		
		<div class="list">
			<div class="pane_left pane_small" style="width:150px">
				<div class="sort_results">
					<%= link_to "Latest", topics_path, :class => ("selected" if params[:tag].nil?) %>
					<% for tag in @tags %>
						<%= link_to tag.name, { :tag => tag.name }, :class => ("selected" if params[:tag].eql? tag.name) %>
					<% end %>
				</div>
			</div>
			<div class="pane_right pane_large" style="width:738px">
				<%= text_field :topics, :keyword, :class => "find", :value => "Search for a topic" %>
				<% for topic in @topics %>
				<div class="item">
					
					<div class="count left">
						<%= topic.users.size %>
						<small>followers</small>
					</div>
					
					<div class="left details">
							<b><%= link_to topic.name, topic_path(topic) %></b>
							<small>added time_ago_in_words(topic.created_at) ago by <%= link_to topic.creator.name, user_path(topic.creator) %></small>
							<div><%= topic.description %></div>
					</div>
				
					<div class="follow">
						<% if @user.following? topic %>
							<%= link_to "Unfollow", stop_following_topic_path(topic), :class =>  "metal" %>
						<% else %>
							<%= link_to "Follow", follow_topic_path(topic), :class =>  "metal" %>
						<% end %>
					</div>
				
				</div>
				<% end %>
			</div>
			
		</div>

		
</div>

<script>
	$("document").ready(function(){
		
		var focusable = $("input#topices_keyword");
		var default_value = focusable.val();
		
		focusable.focus(function(){
			if($(this).val() == default_value) $(this).val("");
			$("input#submit_status").css('display', '');
		})
		
		focusable.blur(function(){
			if($(this).val() == "") {
				$(this).val(default_value); $("input#submit_status").css('display', 'none');	
			}
		})
		
		
		
	})
</script>

