<div id="title">
	<span>
		<h1>
			<%= @topic.name %>
			<% if @topic.created_by == @user.id %><small><%= link_to "(edit)", edit_topic_path(@topic) %></small><% end %>
		</h1>
		<%#= link_to "Add Element", topic_elements_path(@topic), :rel => "facebox", :class => "right metal in_title" %>
		<div class="topic_followers">
		<% for user in @topic.users.first(6) %><%= image_tag(avatar_url(user, :thumb)) %><% end %>
		</div>
	</span>
</div>

<div id="main">
	<div id="show_topic">
		
		<%- # Right Pane -%>
		<div class="pane_right pane_small">
			
			<%- # Details - contains follow/unfollow/tags/favorite -%>
			<div class="details round">
				<small>
				created by: <%= link_to @topic.creator.name, user_path(@topic.creator) %>
				</small>
				<%= follow_topic %>
				<%# link_to image_tag('/images/icons/favorite_grey12x12.png'), "#", :class => "favorite left metal" %>
			</div>
			
			<%- # Right Elements -%>
			<% for element in @topic.elements.right %>
				<div id="topic_<%= element.system_name %>"><%= render :partial => "/#{element.system_name}/index", :locals => { :element => element } %></div>
			<% end %>
			
		</div>
		
		<%- # Left Pane -%>
		<div class="pane_left pane_large">
			
			<%- # Topic Description -%>
			<div class="description"> 
				<h3><%= @topic.description %></h3>
			</div>
			
			<%- # Left Elements -%>
			<% for element in @topic.elements.left %>
				<div id="topic_<%= element.system_name %>"><%= render :partial => "/#{element.system_name}/index", :locals => { :element => element } %></div>
			<% end %>
		
			<%- # Comments -%>
			<%= render :partial => "/comments/ui/topics" %>
		</div>
		
	</div>
</div>

<script>
	$(document).ready(function(){
		
		// Element Exit 
		
		
		$('div.element_frame').hover(function(){
			element = $(this).attr('rel');
			$("." + element + "_header").css("display", "")
		},
		function() {
			$(".element_header").css("display", "none")
		}
		
		);
		
		// Comment links 
		
		$(".show_all_comments").click(function(){
			$("#hidden_comments").show();
			$(this).hide();
			return false;
		});
		
		$(".comment_link").click(function() {
			$("div#"+$(this).attr("id")).css("display", "");
		});

		$("p.add_comment").click(function() {
			$(this).css("display","none");
			$("p.new_comment").css("display", "");
			$("textarea.new_comment").focus();
		});
		
		$("textarea.new_comment").blur(function(){
			if($(this).val() == "") {
				$("p.new_comment").css("display", "none");
				$("p.add_comment").css("display", "");
			}
		});

		// Ajax Comment form
		$("form.comments_form").submit(function(){
			var append_to = $(this).attr("rel");
			$(this).ajaxSubmit({
				success: function(data) {
					$(append_to).append(data);
					$("textarea.new_comment").attr("value", "");
					$("p.new_comment").css("display", "none");
					$("p.add_comment").css("display", "");
					$("textarea.new_comment").val("");
				}
			})
			return false;
		});
	});
</script>