<div id="title">
	<span>
		<h1>Users</h1>
		<p><%= link_to "Add a User", "#", :style => "background:#D6F2D2 url('/images/icons/users.png') no-repeat scroll 6px 4px; font-weight:bold; padding:7px 5px 5px 40px; text-shadow: #fff 0px 1px 0px;" %></p>
	</span>
</div>

<div id="main">
	<div id="users" class="list padded">
			<% for user in @users %>
			<div class="item" style="background:url('<%= avatar_url(user, :thumb) %>') no-repeat;">
				<h2><%= user.name %></h2>
				<%= user.current_status %>
				<% if @user.following? user %>
					<%= link_to "Stop Following", stop_following_user_path(user) %>
				<% else %>
					<%= link_to "Follow", follow_user_path(user) %>
				<% end %>
			</div>
			<% end %>
	</div>
</div>
