<%= flash[:error]%>
<div id="login" class="round">
	<h2>Login<p class="right"><%= link_to "Signup", "#", :class => "button" %></p></h2>
	<div class="login_fields">
		<% form_for :user, :url => request.url do |f| -%>
			<p>
				<label for="username">Username:</label>
				<%= f.text_field :login, :class => "field" %>
			</p>
			<p>
				<label for="password">Password: <%= link_to "(forgot password)", "#" %> </label>
				<%= f.password_field :password, :class => "field" %>
			</p>
		</div>
			<p class="submit">
				<span>
					<input type="checkbox" name="remember" id="remember" value="true" />
					Remember Me
				</span>
				<%= f.submit("Login", :class => "metal right")	%>
			</p>
			
		<% end %>

</div>