<div id="title">
	<span>
		<h1>
			<%= image_tag(avatar_url(@user, :thumb)) %><%= current_user.first_name %> <%= current_user.last_name %><small><%= link_to "(edit)", edit_user_path(@user) %></small>
		</h1>
		
		
		<% form_for :statuses, :url => user_statuses_path(@user) do |f| %>
		  <p id="status">
				<%= f.text_field :message, :class => "status", :value => "What are you working on?" %>
			</p>
		<% end %>
		
	</span>
</div>

<div id="main">
	
	<div id="feed" class="padded">
		<% for activity in @activities %>
			<p><%= explanation_of activity  %></p>
		<% end %>
	</div>

</div>


<script>
	$("document").ready(function(){
		$("input#statuses_message").focus(function(){
			if($(this).val() == "What are you working on?") $(this).val("");
		})
		
		$("input#statuses_message").blur(function(){
			if($(this).val() == "") $(this).val("What are you working on?");
		})
		
	})
</script>