<div id="title">
	<span>
		<h1>
			<%= image_tag(avatar_url(@user, :thumb)) %><%= current_user.first_name %> <%= current_user.last_name %><small><%= link_to "(edit)", edit_user_path(@user) %></small>
		</h1>
				
		<% form_for :statuses, :id => "status", :url => user_statuses_path(@user) do |f| %>
		  <p id="status">
				<%= f.text_field :message, :class => "status", :value => "What are you working on?" %>
				<%= f.submit("Set Status", :id => "submit_status", :class => "metal", :style => "display:none;")	%>
			</p>
		<% end %>
		
	</span>
</div>

<div id="main">   
	<div class="pane_left">
	<div id="feed">
			<% for activity in @activities %>
			<%= explanation_of activity  %>
			<%= render :partial => "activities/ui/comments", :locals => {:activity => activity} %>
		<% end %>
	</div>
	</div>

</div>


<script>
	$("document").ready(function(){
		
		// Status Message
		$("input#statuses_message").focus(function(){
			if($(this).val() == "What are you working on?") $(this).val("");
			$("input#submit_status").css('display', '');
		});
		
		$("input#statuses_message").blur(function(){
			if($(this).val() == "") {
				$(this).val("What are you working on?"); $("input#submit_status").css('display', 'none');	
			}
		});
		
		// Comment links 
		
		$(".show_all_comments").click(function(){
			$("#hidden_comments").show();
			$(this).hide();
			return false;
		});
		
		$(".comment_link").click(function() {
			$("div#"+$(this).attr("id")).css("display", "")
		});

		$("p.add_comment").click(function() {
			$(this).css("display","none")
			$("p.new_comment").css("display", "");
			$("textarea.new_comment").focus();
		});
		
		$("textarea.new_comment").blur(function(){
			if($(this).val() == "") {
				$("p.new_comment").css("display", "none");
				$("p.add_comment").css("display", "");
			}
		});

		// Ajax Comment form
		$("form.comments_form").submit(function(){
			var append_to = $(this).attr("rel");
			$(this).ajaxSubmit({
				success: function(data) {
					$(append_to).append(data);
					$("p.new_comment").css("display", "none");
					$("p.add_comment").css("display", "");
					$("textarea.new_comment").val("");
				}
			})
			return false;
		});
		
	});
</script>