<div class="branch_attachments">
	<label>
		<%= image_tag('/images/icons/document64x64.png') %>
		Website_Layout_Feb022010.PDF
	</label>
	<label>
		<%= image_tag('/images/icons/pdf64x64.png') %>
		Website_template204.PNG
	</label>
	<label>
		<%= image_tag('/images/icons/document64x64.png') %>
		Website_template204.PNG
	</label>
	<label>
		<%= image_tag('/images/icons/document64x64.png') %>
		Website_template204.PNG
	</label>
	<div class="branch_footer">
		<%= link_to "upload", "#", :class => "metal right" %>
	</div>
</div>
