<div class="element_header links_header" style="display:none">Links</div>
<%-#<div class="element_sort"><a>abc</a> | <a>most recent</a> | <a>most useful</a></div> %>

<% for link in @topic.links %>
	<p>
		<span class="expand_link left hidden" rel="<%= link.id %>" style="background:url('/images/icons/arrow_right.png') no-repeat"></span>
		<%= link_to link.url, link.url %>

		<small style="display:none" class="description_<%= link.id %>">
			<label>added by <%= link_to link.creator.name, "#", :class => "created_by", :style => "background:url('/users/avatars/3/tiny_Photo_on_2009-10-22_at_20.49.jpg') no-repeat" %></label>
			<%= link.description %>
		</small>
	</p>
<% end %>

<div class="topic_footer">
	<%= link_to "Add", new_topic_element_link_path(@topic,element), :rel => "facebox" %>
</div>


<script>
	$("document").ready(function(){
		$('.expand_link').click(function(){
			link = $(this).attr('rel');
			if($(this).hasClass('hidden')) {
				$(".description_" + link).show('slow');
				$(this).css('background', 'url(/images/icons/arrow_down.png)');
				$(this).removeClass('hidden');
			} else {
				$(".description_" + link).hide();
				$(this).css('background', 'url(/images/icons/arrow_right.png)');
				$(this).addClass('hidden');
			}
		});
	})
</script>