<div class="branch_images element_frame">
	<h1>Images</h1>
	<label>
		<%= image_tag('/images/icons/photo32x32.jpg') %>

	</label>
	<label>
		<%= image_tag('/images/icons/photo32x32.jpg') %>

	</label>
	<label>
		<%= image_tag('/images/icons/photo32x32.jpg') %>

	</label>
	<label>
		<%= image_tag('/images/icons/photo32x32.jpg') %>

	</label>
	<div class="branch_footer">
		<%= link_to "upload", "#", :class => "metal right" %>
	</div>
</div>
