<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <title>Flurish</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" charset="utf-8" />		
		<script type="text/javascript" charset="utf-8" src="/javascripts/jquery.js"></script>
		<script type="text/javascript" charset="utf-8" src="/javascripts/jquery-ui.js"></script>
		<script type="text/javascript" charset="utf-8" src="/javascripts/facebox.js"></script>
		<script type="text/javascript" charset="utf-8" src="/javascripts/swfobject.js"></script>
		<script type="text/javascript" charset="utf-8" src="/javascripts/uploadify.js"></script>
		<script type="text/javascript" charset="utf-8" src="/javascripts/form.js"></script>
		<script type="text/javascript" charset="utf-8" src="/javascripts/ellipsis.js"></script>
		<script type="text/javascript" charset="utf-8" src="/javascripts/application.js"></script>
		<link rel="shortcut icon" href="/favicon.png" type="image/x-icon" width="16px" height="16px" /> 
  </head>
  <body>

		<div id="header">
			<span>
				<%= image_tag('/images/logo.png', :class => "logo") %>
				<%= display_standard_flashes %>
				<% if logged_in? %>
				<ul>
					<li onclick="location.href='<%= logout_path %>'"><%= image_tag("/images/icons/logout.png") %>Logout</li>
					<li onclick="location.href='<%= users_path %>'"><%= image_tag("/images/icons/users.png") %> Users</li>
					<li onclick="location.href='<%= branches_path %>'"><%= image_tag("/images/icons/topic16x16.png") %>Topics</li>
					<li onclick="location.href='<%= user_path(current_user) %>'"><%= image_tag(avatar_url(current_user, :tiny)) %><%= current_user.first_name %></li>				
				</ul>
				<% end %>
			</span>
		</div>
		
		<div id="content">
			<%= @content_for_layout %>
		</div>
		
  </body>

	<script>
		$(document).ready(function(){
			$('[rel*=facebox]').unbind('click').facebox();
			$("div.item div.details").ellipsis();
			$("div.notice").fadeOut(3000);
		});
	</script>
</html>

